/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #background-img-f {
        height: auto;
    }

    #history {
        height: 100%;
        
    }

    #history-div {
        padding-top: 50px!important;
    }

    .swiper {
        height: 100%;
        width: auto;
       }

       .swiper-slide img {  
        width: 100%;
        height: auto;
    
    }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px)  and (max-width: 767px) {
    #background-img-f {
        height: 400px;
    }
    .swiper {
        height: 100%;
        width: auto;
       }

       .swiper-slide img {  
        width: 100%;
        height: auto;
    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 978px) {
    #background-img-f {
        height: 450px;
    }
    .swiper {
        height: 100%;
        width: auto;
       }

       .swiper-slide img {  
        width: 100%;
        height: auto;
    
    }

    
}



/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 979px) and (max-width: 1500px) {
    #background-img-f {
        height: 600px;
    }
    .swiper {
        height: 100%;
        width: auto;
       }
     
       .swiper-slide img {  
        width: 100%;
         
       }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}